{% extends 'main.html'%}
{% block crud_container %}
<section class="container-fluid">
	<form action="/" method="post">
		<div class="col-auto">
			<div class="input-group mb-3">
                <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="button-addon2">
				<input type="number" name="age" value="{{age}}" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="button-addon2">
				<button class="btn btn-outline-primary" value="Send" type="submit" id="button-addon2" data-mdb-ripple-color="dark">
					Добавить
				</button>
			</div>
		</div>
	</form>
</section>

    {% if user %}
        <article class="card container fluid">
            <br>
            <h2> ID: {{user.id}}</h2>
            <p>
                <strong>Username: {{user.username}}</strong>
                <strong>Age: {{user.age}}</strong>
            </p>
        </article>
    {% else %}
        <section class="container-fluid">
            <h2 align="center"> Users </h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item"> {{user.id}}
                            <a href="/user/{{user.id}}"> {{user.username}}, {{user.age}} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}